.text-sharder-shard {
	padding: 5px 10px;
	display: inline-block;
	vertical-align: top;
}

.text-sharder-shard-qr img {
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	margin: auto;
}

.text-sharder-shard pre {
	width: 250px;
	height: 250px;
}

.text-sharder-shard .text-sharder-shard-json pre {
	font-size: 10px;
	overflow-wrap: normal;
}

.text-sharder-shard .text-sharder-shard-json pre.base64 {
	overflow-wrap: break-word;
}

.text-sharder-shard .text-sharder-shard-options pre {
	text-align: center;
}

.btn .text-sharder-shard-btn, .btn, .text-sharder-reconstruct-btn {
	margin-bottom: 10px;
}

.intro .form-control {
	display: inline-block;
	text-align: center;
}

.desired-text {
	width: 420px;
}

.desired-num-total-shards {
	width: 50px;
}

.desired-num-min-shards {
	width: 50px;
}

.desired-password {
	width: 100px;
}

.desired-max-shard-size {
	width: 60px;
}