<div class="text-sharder-shard">

	<ul class="nav nav-tabs">
		<li role="presentation" class="active text-sharder-shard-qr-title"><a href="#"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"> (<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>)</span></a></li>
		<li role="presentation" class="text-sharder-shard-json-title"><a href="#">JSON (<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>)</a></li>
		<li role="presentation" class="text-sharder-shard-options-title"><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
	</ul>
	<div class="text-sharder-shard-qr"><pre></pre></div>
	<div class="text-sharder-shard-json"><pre></pre></div>
	<div class="text-sharder-shard-options">
		<pre>
			<button type="button" class="btn btn-danger text-sharder-shard-delete-btn">
				<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete
			</button>
			<button type="button" class="btn btn-danger text-sharder-shard-tamper-data-btn">
				<span class="glyphicon glyphicon-random" aria-hidden="true"></span> Tamper Data
			</button>
			<button type="button" class="btn btn-danger text-sharder-shard-tamper-mac-btn">
				<span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Tamper Mac
			</button>
			<button type="button" class="btn btn-danger text-sharder-shard-tamper-set-mac-btn">
				<span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Tamper Set Mac
			</button>
		</pre>
	</div>
</div>